.mainContainer {
  padding: 100px;
  padding-top: 50px;
  border-top: 1px solid #33423E;
  border-bottom: 1px solid #33423E;
}

.contentContainer {
  height: auto;
  width: 100%;
  margin: 20px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.columnContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-bottom: 100px;
  width: 950px;
}

.rowContainer1{
  display: flex;
  padding-top: 40px;
  flex-direction: row;
  justify-content: flex-start;
  padding-bottom: 30px;
  flex-grow: 0;
  flex-wrap: wrap;
}

.rowContainer2{
  display: flex;
  padding-top: 40px;
  flex-direction: row;
  justify-content: flex-start;
  flex-grow: 0;
  flex-wrap: wrap;

}

.mintWhiteContainer{
  display: flex;
  flex-wrap: wrap;
  float: left;
  width: 255px;
  height: 230px;
  position: relative;
  
}

.whiteBox{
  width: 220px;
  height: 200px;
  border-radius: 35px;
  background-color: white;
  position: absolute;

  left: -20px;
  top: 20px;
}

.mintBox1{
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-top: 30px;
  padding-left: 20px;
  margin-right: 30px;
  background-color: #00D9A5;
  width: 220px;
  height: 200px;
  border-radius: 35px;
  position: relative;
}

.mintBox1c{
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-top: 30px;
  padding-left: 20px;
  margin-right: auto;
  background-color: #00D9A5;
  width: 220px;
  height: 200px;
  border-radius: 35px;
  position: relative;
  margin-top: 20px;
  flex-wrap: wrap;

}

.mintBox2{
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-top: 30px;
  padding-left: 20px;
  margin-right: auto;
  margin-bottom: 10px;
  background-color: #00D9A5;
  width: 220px;
  height: 200px;
  border-radius: 35px;
  flex-wrap: wrap;

}

.titleText{
  margin-top: 50px;
  font-size: 50px;
  font-weight: bold;
}

.contentText{
  font-size: 15px;

}

.boxText{
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.boxContentText{
  font-size: 12px;
  color: white;
}

.clickButton{
  display: flex;
  text-align: center;
  width: 70px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  border: transparent;
  margin-top: 60px;
  margin-left: 110px;
}


.clickButton2{
  display: flex;
  text-align: center;
  width: 70px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  border: transparent;
  margin-top: 30px;
  margin-left: 110px;
}

  /* 작은 화면 */
  @media screen and (max-width:1000px) {
    .mainContainer {
      padding: 30px;
      padding-top: 20px;
    }
    .columnContainer{
      padding-bottom: 20px;
      justify-content: center;
      width: 300px;
    }
    .rowContainer1{
     padding-top: 8px;
     padding-bottom: 6px;
    }
    .rowContainer2{
      padding-top: 8px;
    }
    .mintWhiteContainer{
      width: 150px;
      height: 130px;
    }
    .whiteBox{
      width: 140px;
      height: 120px;
      border-radius: 25px;
      left: -10px;
      top: 10px;
    }
    .mintBox1{
      padding-top: 20px;
      padding-left: 15px;
      margin-right: 10px;
      width: 140px;
      height: 120px;
      border-radius: 25px;

    }
    .mintBox1c{
      padding-top: 20px;
      padding-left: 15px;
      margin-right: 5px;
      margin-top: 15px;
      width: 140px;
      height: 120px;
      border-radius: 25px;
    }
    .mintBox2{
      padding-top: 15px;
      padding-left: 15px;
      padding-right: 15px;
      width: 140px;
      height: 135px;
      border-radius: 25px;
    }
    .titleText{
      margin-top: 10px;
      font-size: 40px;
    }
    .contentText{
      font-size: 10px;
      margin-bottom: 20px;
    }
    .boxText{
      margin-top: 5px;
      font-size: 14px;
    }    
    .boxContentText{
      font-size: 10px;
    }
    .clickButton{
      width: 60px;
      height: 30px;
      border-radius: 50%;
      margin-top: 25px;
      margin-left: 50px;
    }
    .clickButton2{
      width: 60px;
      height: 30px;
      border-radius: 50%;
      margin-top: 3px;
      margin-left: 50px;
    }


  }