.btn {
  cursor: pointer;
  display: flex;
  flex: 1;
  background-color: transparent;
  border: transparent; 
  justify-content: center;
  align-items: center;
}

.linkText {
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-weight: 800;
  color:#00D9A5;
}


  @media screen and (max-width:1000px) {
    .linkText {
      font-size: 16px;
    }

  }