.mainContainer {
  padding: 100px;
  padding-top: 50px;
  border-top: 1px solid #33423E;
  border-bottom: 1px solid #33423E;
}

.headerContainer {
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 70px;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  margin-bottom: 70px;
  justify-content: center;
  align-items: center;
}

.rowContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1000px;
  height: auto;
  margin: 30px 0px;
}

.smallRowContainer{
  display: flex;
  flex-direction: column;
  width: 300px;
  height: auto;
  margin-top: 50px;
}

.columnContainer {
  display: flex;
  flex-direction: column;
  width: 460px;
  height: auto;
  justify-content: flex-start;
}

.boxContainer {
  border: 1px solid #00D9A5;
  border-radius: 11px;
  width: 100%;
  height: 200px;
  margin: 10px 0px;
}

.ImgContainer{
  width: 100%;
  height: 170px;
  margin: 20px 0px;
  background-color: gainsboro;
}

.titleText {
  font-size: 48px;
  font-weight: 800;
  padding: 10px;
  color: white;
  margin-bottom: 30px;
}

.boxTitleText{
  color: #00D9A5;
  font-size: 18px;
}

.contentText {
  color: white;
  font-size: 18px;
}


/* 작은 화면 */
@media screen and (max-width:1000px) {
  .mainContainer {
    padding: 20px;
    padding-top: 10px;
  }
  .titleText {
    font-size: 30px;
  }
  .boxTitleText {
    font-size:  14px;
  }
}